/ansible/dist
/ansible/terraform.tfstate
/.terraform
/ansible/plugins
/terraform/aws/terraform.tfvars
/terraform/aws/.terraform
/ansible/envvars.yml
/.env
/ssh-key
/wireguard.clients
/wireguard.private.key
/wireguard.public.key
/credentials
/terraform/onprem/.terraform
/.env*
/vault-keys.json
/kubeconfig
**/.terraform.lock.hcl
**/*.ca.json
