mojaloop-mifos-core-connector:
  enabled: true
  imagePullCredentials:
    user: "{{ item.value.private_reg_user }}"
    pass: "{{ item.value.private_reg_pass }}"
    registry: "{{ item.value.private_reg_url }}"
  env:
    backendApplicationEndpoint: "http://sim-backend:3000"
    outboundApplicationEndpoint: "http://{{ item.value.helm_release_name }}-mojaloop-connector:4001"
  ingress:
    enabled: true
    hosts:
      - host: "core-connector.{{ item.key }}.{{ item.value.pm4ml_subdomain }}"
        paths: ['/']
    annotations:
      kubernetes.io/ingress.class: {{ ingress_class }}
      cert-manager.io/cluster-issuer: letsencrypt
      external-dns.alpha.kubernetes.io/target: {{ dfsp_access_lb_hostname }}
      nginx.ingress.kubernetes.io/rewrite-target: /
    tls:
    - secretName: pm4ml-tls
      hosts:
        - "*.{{ item.key }}.{{ item.value.pm4ml_subdomain }}"