apiVersion: v1
kind: Secret
metadata:
  name: longhorn-backups-aws-secret
  namespace: longhorn-system
type: Opaque
data:
  AWS_ACCESS_KEY_ID: {{ longhorn_backups_iam_access_key | b64encode }}
  AWS_SECRET_ACCESS_KEY: {{ longhorn_backups_iam_secret_key | b64encode }}