datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
    - name: Prometheus
      type: prometheus
      url: http://prometheus-server
      access: proxy
      isDefault: false
ingress:
  enabled: true
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
    external-dns.alpha.kubernetes.io/target: {{ ingress_external_hostname }}
    kubernetes.io/ingress.class: {{ ingress_class }}
    kubernetes.io/ingress.provider: {{ ingress_class }}
  hosts: 
    - {{ grafana_domain }}
  tls:
    - secretName: grafana-tls
      hosts: 
        - {{ grafana_domain }}
persistence:
  enabled: true