grafana:
  enabled: true
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt
      external-dns.alpha.kubernetes.io/target: {{ monitor_access_lb_hostname }}
      kubernetes.io/ingress.class: {{ monitor_ingress_classname }}
    hosts: 
      - {{ grafana_domain }}
    tls:
      - secretName: grafana-tls
        hosts: 
          - {{ grafana_domain }}
prometheus:
  enabled: true
  alertmanager:
    persistentVolume:
      enabled: false
  server:
    persistentVolume:
      enabled: true
loki:
  persistence:
    enabled: true
    storageClassName: {{ storage_class_name }}
    size: 5Gi
  config:
    table_manager:
      retention_deletes_enabled: true
      retention_period: 72h     