path "pki-{{ base_domain }}-{{ item.key }}/*" {
  capabilities = ["create", "read", "update", "delete", "list", "sudo"]
}

path "pki-{{ base_domain }}-{{ item.key }}/issue/{{ item.key }}.{{ base_domain }}" {
  capabilities = ["create", "read", "update"]
}

path "pki-{{ base_domain }}-{{ item.key }}/roles/{{ item.key }}.{{ base_domain }}" {
  capabilities = ["create", "read", "update"]
}

path "pki-{{ base_domain }}-{{ item.key }}/sign/{{ item.key }}.{{ base_domain }}" {
  capabilities = ["create", "read", "update"]
}

path "secrets/pm4ml/{{ item.key }}/*" {
  capabilities = ["create", "read", "update", "list"]
}
