server:
  standalone:
    enabled: true
    config: |
      ui = true

      listener "tcp" {
        tls_disable = 1
        address = "[::]:8200"
        cluster_address = "[::]:8201"
      }
      storage "file" {
        path = "/vault/data"
      }

  service:
    enabled: true
  ingress:
    enabled: true
    hosts:
    - host: {{ vault_domain }}
      paths:
      - /
    tls:
      - secretName: vault-tls
        hosts: 
          - {{ vault_domain }} 
    annotations:
      kubernetes.io/ingress.class: {{ ingress_class }}
      cert-manager.io/cluster-issuer: letsencrypt
      external-dns.alpha.kubernetes.io/target: {{ ingress_internal_hostname }}

ui:
  enabled: true