ingress:
  enabled: true
  hosts: [{{ vpn_endpoint }}]
  annotations:
    external-dns.alpha.kubernetes.io/target: {{ ingress_external_hostname }}
    kubernetes.io/ingress.class: {{ ingress_class }}
    cert-manager.io/cluster-issuer: letsencrypt
  tls:
    - hosts: [{{ vpn_endpoint }}]
      secretName: wg-tls
      
config:
  externalHost: {{ vpn_endpoint }}
  vpn:
    cidr: 192.168.100.0/24
    allowedIPs: [{{ vpc_cidr_var }}]

wireguard:
  config:
    privateKey: {{lookup('file', '../../wireguard.private.key') }}
  service:
    type: LoadBalancer
    
persistence:
  enabled: true
  storageClass: {{ storage_class_name }}